:root {

  /* colors */
  --text-color: #333333;
  --black: #000;
  --white: #fff;
  --dove-gray: #666666;
  --dusty-grey: #999999;
  --watsapp-color: #30BF39;
  --telegram-color: #26A5E4;
  --error-color: #D11616;
  --color-gallery: #ececec;
  --color-amethyst: #9D5CD0;

  --color-biloba-flower: #D1A9F0;
  --color-royal-purple: #7943A4;
  --color-heliotrope: #C283F3;
  --color-silver: #CACACA;
  
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}
button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}
.btn {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
}
img {
  max-width: 100%;
}
.title-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}
.main-container{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header-top {
  width: 100%;
  height: 100px;
  background-color: var(--black);
}
.header-top__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-top__logo {
  margin-right: 180px;
  cursor: pointer;
}
.search-mobile {
  display: none;
  color: #fff;
}


.search-mobile {
  background: transparent;
  padding: 4px 8px;
}

.search-mobile__btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search-mobile__input {
  padding-left: 7px;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  width: 218px;
  font-size: 18px;
  color: var(--white);
  /*Задаёт цвет текстового курсора, который отображается в текстовых полях формы (<input>, <textarea>)*/
  caret-color: #d1a9f0;
  background-color: transparent;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}
.header-top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-top__list {
  display: flex;
  justify-content: space-between;
}

.header-top__item:not(:last-child) {
  margin-right: 50px;
}

.header-top__link {
  display: inline-block;
  padding: 3px 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;  
  color: var(--white);
  transition: color 0.3s ease;
}


.header-top__link:hover {
  color: var(--color-heliotrope);
  background-color: inherit;
}

.header-top__link:focus-within {
  background-color: var(--color-royal-purple);
  outline: none;
}
.header-top__link:active {
  color: var(--color-royal-purple);
  background-color: inherit;
}

.header-top__button {
  width: 86px;
  transition: color .3s ease;
  
}
.header-top__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: var(--white);
  padding: 3px 6px;
}
.header-top__login svg {
  margin-right: 5px;
}
.header-top__button:hover .header-top__login,
.header-top__button:hover path{
  color: var(--color-heliotrope);
  fill: var(--color-heliotrope);
}
.header-top__login:focus-visible {
  background-color: var(--color-royal-purple);
  outline: none;
}
.header-top__button:active .header-top__login,
.header-top__button:active path {
  color: var(--color-royal-purple);
  fill: var(--color-royal-purple);
}
.header-bottom {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  height: 70px;
  padding: 21px 0 21px 0;
}
.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.header-bottom__list {
  display: flex;
}
.header-bottom__item {
  position: relative;
  cursor: pointer;
}
.header-bottom__item:not(:last-child) {
  margin-right: 60px;
}
.header-bottom__menu {
    font-size: 18px;
    line-height: 25px;
    color:var(--white);
}
.header-bottom__menu {
  padding: 3px 30px 3px 6px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  cursor: pointer;
  transition: color .5s ease;
}
.header-bottom__menu:hover {
  color: var(--color-amethyst);
}
.header-bottom__menu:focus {
  background-color: var(--color-royal-purple);
  color: var(--white);
  outline: none;
} 
.header-bottom__menu:active {
  color: var(--color-royal-purple);
  background-color: transparent;
}
.header-bottom__arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  transition: transform 0.5s;
  transform: rotate(45deg);
}
.header-bottom__menu:hover .header-bottom__arrow {
  border-color: var(--color-amethyst);
}
.header-bottom__menu:active .header-bottom__arrow {
  border-color: var(--color-royal-purple);

}
.header-bottom__menu:focus .header-bottom__arrow {
  transform: rotate(225deg);
  top: 16px;
}

.header-bottom__form {
  display: flex;
  height: 22px;
  margin-left: auto;
}
.header-bottom__search {
  width: 22px;
  height: 22px;
  margin-right: 11px;
}
.header-bottom__search:focus {
  outline: none;
}
.header-bottom__input {
  width: 218px;
  font-size: 18px;
  color: var(--white);
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: border-bottom .3s ease;
}
.header-bottom__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}
.header-bottom__input:hover {
  border-color: var(--color-heliotrope);
}
.header-bottom__input:focus {
  border-color: var(--color-heliotrope );
  outline: none;
}

.dropdown {
  display: none ;
  position: absolute;
  left: 0px;
  top: 49px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px 40px 40px;
  z-index: 100;
  
}


.dropdown__list {
  width: 240px;
  max-height: 220px;
}

.dropdown__item {
  position: relative;
  width: 220px;
  height: 40px; 
  

}
.dropdown__item:not(:last-child) {
  margin-bottom:20px;
}

.dropdown__item:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}
.dropdown__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 14px 12px 14px;
}
.dropdown__link:hover,
.dropdown__link:focus {
  outline: 2px solid var(--color-amethyst);
}
.dropdown__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  height: 220px;
  background-color: var(--black);
}
.simplebar-scrollbar::before  {
  left:0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 28px;
  background-color: var(--white);
  border-radius: 0;
  opacity: 1;
}
.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
/*--------------Hero-----------*/
.hero {
  width: 100%;
  height: 770px;
  color: var(--white);
}
.hero__content {
  position: absolute;
  top: 233px;
  z-index: 1;
  width: 597px;
  font-weight: 700;
}
.hero__heading {
  font-size: 72px;
  line-height: 98px;
}
.hero__text {
  font-size: 18px;
  line-height: 30px;
}
.hero__btn {
  background: var(--color-amethyst);
  padding: 17px 35px;
  border: 1px solid var(--black);
  border-radius: 100px;
  margin-top: 92px;
  transition: all .5s ease;
}
.hero__btn:hover {
  border: 2px solid var(--color-biloba-flower);
}
.hero__btn:focus-within {
  outline: 2px solid var(--color-heliotrope);
  outline-offset: 5px;
}
.hero__btn:active {
  background: var(--color-royal-purple);
  outline: none;
}
.swiper {
  width: 100%;
  height: 100%;
}
.hero .swiper {
  z-index: 0;
}
.hero__swiper-slide {
  background-size: cover;
  background-position: left 100%;
  background-repeat: no-repeat;
}
.swiper-slide_1 {
  background-image: url(../img/main-img.jpg);  
}
.swiper-slide_2 {
  background-image: url(../img/main-img2.jpg);  
}
.swiper-slide_3 {
  background-image: url(../img/main-img3.jpg);  
}

/* --------------About------------- */

.about__container {
  padding-top: 109px;
  padding-bottom: 80px;
}
.about__text {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  max-width: 1080px;
  margin-top: 16px;
}

/* --------------Gallery------------- */
.gallery {
  width: 100%;
  background: url(../img/gallery-img.jpg) center center/cover no-repeat;
  

}
.gallery__container {
  padding: 80px 10px;
}
.gallery__wrapper {
  display: flex;
}
.gallery__left {
  width: calc(400 / 1600 * 100%);
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 45px;
}
.gallery__heading {
  margin-bottom: 16px;
  color: var(--white);
}

/* --------------Gallery select------------- */
.gallery__select-block {
  width: 100%;
}
.gallery__label {
  display: block;
  color: var(--white);
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 10px;
}
.choices__inner {
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
}
.choices[data-type*=select-one] .choices__inner {
  padding: 14px 15px;
}
.choices[data-type*=select-one] .choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
  background-color: transparent;
}

.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: var(--white);
  border: 1px solid #999999;

}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 16px;
  padding: 14px 22px;
}

.choices__list--dropdown {
  color: var(--dusty-grey);
}
.choices[data-type*="select-one"]::after {
  width: 12px;
  height: 7px;
  
  border: none;
  background-image: url("../img/select-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.choices[data-type*="select-one"].is-open::after {
  margin-top: 0;
  transform: rotate(180deg);
}

/* --------------Gallery checkbox------------- */
.gallery__checkbloc {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 14px;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 12px;

  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: -13px;
  top: 8px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
}
input[type="checkbox"]:checked+label:before {
    border: 1px solid var(--color-heliotrope);
}
input[type="checkbox"]:not(:checked):hover+label:before {
  border: 1px solid var(--color-heliotrope);
}
input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left:-8px;
  top: 13px;
  width: 4px;
  height: 4px;
  background-color: var(--color-heliotrope);
  transition: all 0.2s ease;
}
input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}
/* --------------Gallery right------------- */
.gallery__right {
  width: calc(1150 / 1600 * 100%);
  
}

.gallery__swiper {
  position: relative;
  padding-top: 20px;
}
.gallery__swiper-wrapper {
  padding-top: 30px;
}
.gallery__slider-img {
  position: relative;
  max-width: 350px;
  max-height: 350px;
  background-color: #926B88;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.gallery__slider-img::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  box-sizing: border-box;
  z-index: 1;
  
}
 .gallery__slider-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: url(../img/loop+.svg)rgba(0, 0, 0, 0.5) no-repeat 50% 45%/81px;
  background-clip: content-box;
  box-sizing: border-box;
  z-index: 10;
  opacity: 0;
  transition: opacity .5s ease-in-out;
 }

.gallery__slider-img:hover::after {
 opacity: 1;
}
.gallery__slider-img:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  border: none;
  opacity: 1;
}
.gallery__slider-img:focus::before {
  border: 3px solid var(--color-royal-purple);
}
.gallery__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__navigation-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 30px;
}
.btn-prev, .btn-next {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: var(--dove-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .4s ease-in-out;
}
.btn-prev:hover,
.btn-next:hover {
  background-color: var(--color-amethyst);
}
.btn-prev:active,
.btn-next:active {
  border: 2px solid var(--black);
  background-color: var(--color-royal-purple);
}
.btn-prev:focus,
.btn-next:focus {
  border: 1px solid var(--black);
  background-color: var(--dove-gray);
  outline: none;
}
.btn-prev:disabled,
.btn-next:disabled {
  background-color: #b0b0b0;

}
.btn-prev::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  border-left: 1px solid var(--white);
  border-bottom:1px solid var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn-next::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
}
.gallery__swiper-pagination {
  width: auto;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}
/* --------------Gallery modal------------- */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgb(6 6 6 / 71%);
  pointer-events: none;
  transition: 0.5s all;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  pointer-events: all;
  transition: 0.5s all;
}

.modal {
  position: relative;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 500px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  z-index: 200;
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
  z-index: 200;
}
.modal__left {
  width: 44.4%;
  height: 100%;
}
.modal__left picture{
  display: block;
  width: 100%;
  height: 100%;
}
.modal__image {
  position: relative;
  width:100%;
  height: 100%;
}
.modal__right {
  width: 50%;
  padding-right: 75px;
  color: var(--text-color);
}

.modal__title {
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}
.modal__subtitle, .modal__discr {
  display: block;
}
.modal__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.modal__discr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-grey);
}
.modal__text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 22px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
}
.modal__close::before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: -2px;
  width: 20px;
  height: 1px;
  transform: rotate(45deg);
  background-color: var(--black);
}
.modal__close::after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  right: 8px;
  width: 1px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--black);
}


/* Section Catalog */
.catalog__container {
  padding-top: 80px;
  padding-bottom: 80px;
  scroll-behavior: smooth;
}
.catalog__text {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  margin-top: 16px;
  margin-bottom: 50px;
}
.catalog__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-left {
  margin-right: 50px;
  flex: 1 1 46.875%;
}
.content-left__item {
  display: none;
}
.content-left__item_active {
  display: block;
}
.content-left__title {
  margin-top: 30px;
  margin-bottom: 13px;
  line-height: 33px;
}
.content-left__description {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;  
  color: var(--dusty-grey);
}
.content-left__text {
  line-height: 32px;
  color: var(--text-color);
  max-width: 733px;
}

.content-left__link {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-amethyst);
  outline: none;
  width: max-content;

}
.content-left__link:hover {
  color: var(--color-royal-purple);
}
.content-left__link:focus-within {
  color: var(--white);
  background-color: var(--color-heliotrope);
}
.content-left__link:active {
  background-color: inherit;
}


.content-right {
  flex: 1 1 50%;
}
.content-right__wrapper {
  border-bottom: 1px solid var(--color-silver);
}
.content-right__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-silver);
  padding: 32px 0 32px 0;
  cursor: pointer;
  transition: border-color .3s ease;
  outline: none;
}
.content-right__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
  transition: color .3s ease;
}
.content-right__circle {
  width: 50px;
  height: 50px;
  background-color: var(--color-gallery);
  border-radius: 100px;
  border: 2px solid var var(--white);
  cursor: pointer;
  transition: background-color .3s ease, border-color 1s ease;
  outline: none;
}
.content-right__circle::after {
  content: '';
  display: block;
  position: relative;
  top: 28%;
  left: 37%;
  width: 11.79px;
  height: 11.79px;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  transform:  rotate(45deg);
  transition: all 0.5s ease-out;
}
.content-right__content.ui-accordion-header-active .content-right__circle::after {
  transform: translateY(40%) rotate(224deg);
}
.content-right__content:active .content-right__circle::after {
  transform: translateY(40%) rotate(224deg);
}
.content-right__content:active .content-right__circle {
  border: 2px solid var(--color-amethyst);
  background-color: var(--color-biloba-flower);
  outline: none;
}
.ui-accordion-header-icon, .ui-icon {
  display: none;
} 
.content-right__content:hover {
  border-top: 1px solid var(--color-amethyst);
}
.content-right__content:hover .content-right__title {
  color: var(--color-amethyst);
}

.content-right__content:active .content-right__title {
  color: var(--color-royal-purple);
}

.content-right__content:hover .content-right__circle {
  background-color: var(--color-biloba-flower);
}
.content-right__list,
.content-right__empty {
  display: flex;
  border-top: 1px solid var(--color-silver);
  padding: 25px 0 25px 0;
}
.content-right__content:hover + .content-right__list {
  border-top: 1px solid var(--color-amethyst);
}
.content-right__content:hover + .content-right__empty {
  border-top: 1px solid var(--color-amethyst);
}
.content-right__item:not(:last-child) {
  margin-right: 60px;
}
.content-right__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  border-bottom: 1px solid transparent ;
  transition: border .3s ease-in;
  width: max-content;
  outline: none;
  transition: background-color .3s ease-in;
}
.content-right__link:hover {
  border-bottom: 1px solid var(--color-amethyst);
}
.content-right__link:focus {
  background-color: var(--color-amethyst);
}
.content-right__link:active {
  color: var(--color-royal-purple);
  background-color: inherit;
}
.content-right__empty {
  justify-content: flex-start;
  align-items: center;
}
.content-right__img {
  margin-right: 24px;
}
.content-right__description {
  max-width: 275px;;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}
.content-right__goto {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-amethyst);
  outline: none;
}
.content-right__goto:hover {
  color: var(--color-royal-purple);
}

/*----------Секция Events---------------*/
.events__container {
  padding-bottom: 80px;
}
.events__heading {
  margin-bottom: 16px;
}
.cards-items__wrapper {
  display: flex;
}
.cards-item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  padding-bottom: 46px;
  border: 1px solid var(--color-silver);
}
.cards-item.swiper-slide,
.swiper-slide {
  height: auto;
}

.cards-item picture {
  width: 100%;
}
.cards-item__content {
  padding: 13px 50px 0px 50px;
}
.cards-item__desc {
  display: block; 
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-grey);
}
.cards-item__title {
  line-height: 33px;
  margin-top: 6px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.cards-item__text {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 22px;
}
.cards-item__link {
  display: block;
  color: var(--color-amethyst);
  margin-top: auto;
  margin-left: 50px;
  line-height: 28px;
}
.cards-item__link::after {
  content: '';
  display: block;
  width: 90px;
  height: 1px;
  margin-bottom: 30px;
  background-color: var(--color-amethyst);
}

.cards-items__navigation-btn {
  position: relative;
}
.cards-items__button-prev {
  position: absolute;
  left: 0px;
  top: 340px;
  z-index: 10;
  transform: rotate(90deg);
}
.cards-items__button-next {
  position: absolute;
  right: 0px;
  top: 340px;
  z-index: 10;
  transform: rotate(-90deg);
}
.cards-items__button-prev:hover,
.cards-items__button-next:hover {
  background-color: var(--color-biloba-flower);
}
.cards-items__button-prev:focus,
.cards-items__button-next:focus {
  border: 2px solid var(--color-amethyst);
  background-color: var(--color-gallery);
}
.cards-items__button-prev:active,
.cards-items__button-next:active {
  border: 2px solid var(--color-amethyst);
}


/*----------Секция Projects---------------*/
.projects__container {
  padding-bottom: 80px;
}
.projects__text {
  position: relative;
  max-width: 1060px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  margin-bottom: 23px;
  margin-top: 16px;
}
.projects__toolbox {
  position: relative;
}
.projects__toolbox_1 {
  position: relative;
  bottom: 180px;
  left: 147px;
}
.projects__toolbox_2 {
  bottom: 162px;
  left: 860px;
}
.projects__toolbox_3 {
  bottom: 148px;
  left: 322px;
}
.projects__toolbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--color-amethyst);
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
}
.projects__tooltip {
  display:block;
  background-color: #000;
}
.projects__tooltip_dot {
  width: 2px;
  height: 2px;
  border-radius: 100%;
}
.projects__tooltip_rectangle {
  width: 2px;
  height: 6px;
}
.projects__tooltext {
  visibility: hidden;
  display: block;
  width: 250px;
  text-align: center;
  color: var(--white);
  background-color: var(--color-amethyst);
  position: absolute;
  bottom: 25px;
  left: -109px;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition: all .3s ease-in;
}

.projects__tooltext::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 49%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-amethyst) transparent transparent transparent;
  transform: translateX(-50%);

}
.projects__toolbtn:hover {
  background-color: var(--color-biloba-flower);
}
.projects__toolbtn:focus {
  background-color: var(--color-biloba-flower);
}
.projects__toolbtn:active{
  background-color: var(--color-amethyst);
}
.projects__toolbtn:active .projects__tooltip {
  background-color: var(--white);
}
.projects__toolbtn:active ~ .projects__tooltext,
.projects__toolbtn:focus ~ .projects__tooltext {
  visibility: visible;
  opacity: 1;
}
.projects__domen {
  color: var(--color-amethyst);
  border-bottom: 1px solid transparent;
}
.projects__domen:hover {
  border-bottom: 1px solid var(--color-amethyst);
}

.projects__domen:focus {
  border-bottom: 1px solid var(--white);
  color: var(--white);
  background-color: var(--color-amethyst);
}

.projects__domen:active {
  border-bottom: 1px solid var(--color-royal-purple);
  color: var(--color-royal-purple);
  background-color: transparent;
}

.projects__partners {
  position: relative;
}
.projects__subtitle {
  margin-bottom: 23px;
}
.projects__swiper {
  width: 90.6%;
  margin: 0 auto;
  position: relative;
}
.projects__wrapper {
  display: flex;
  position: relative;
}
.projects__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: auto;
  
}
.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 34px;
  border: 1px solid var(--color-silver);
  transition: border 0.3s ease;
  outline: none;
}
.projects__img {
  filter: grayscale(1);
  opacity: .3;
  transition: opacity .4s ease-in;
}
.projects__link:hover .projects__img {
  filter: none;
  opacity: 1;
}
.projects__link:focus {
  border: 1px solid var(--color-amethyst);
}
.projects__link:active {
  border: 1px solid var(--color-amethyst);
}
.projects__prevbtn,
.projects__nextbtn {
  position: absolute;
  background-color: var(--color-gallery);
  z-index: 100;
  bottom: 30%;
  border: 1px solid transparent;
}
.projects__prevbtn {
  left: 0;
}
.projects__nextbtn {
  right: 0;
}
.projects__partners .btn-prev::after {
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  }
.projects__partners .btn-next::after {
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
}
.projects__prevbtn:hover,
.projects__nextbtn:hover {
  background-color: var(--color-biloba-flower);
}
.projects__prevbtn:focus,
.projects__nextbtn:focus {
  background-color: var(--color-gallery);
  border: 1px solid var(--color-amethyst);
}
.projects__prevbtn:active,
.projects__nextbtn:active {
  background-color: var(--color-biloba-flower);
  border: 1px solid var(--color-amethyst);
}
/*----------Секция Contacts---------------*/
.contacts {
  border-top: 1px solid #CACACA;
  padding: 45px 0 45px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}

.contacts__titles {
  margin-right: 70px;
}
.contacts__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.contacts__form {
  display: flex;
  justify-content: space-between;
}
.contacts__input,
.contacts__btn {
  border: 1px solid var(--text-color);
  border-radius: 100px;
  margin: 0 10px;
  outline: none;
  
}
.contacts__input {
  padding: 9px 24px;
}
.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dusty-grey);
}
.contacts__input:hover {
 background-color: var(--color-gallery);
}
.contacts__input:active {
  background-color: var(--color-gallery);
}
.contacts__input:focus {
  background-color: transparent;
}
.contacts__errorlabelname,
.contacts__errorlabeltel {
  position: relative;
  display: flex;
}
.just-validate-error-label {
  position: absolute;
  top: -20px;
  left: 40px;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
 
}
.just-validate-error-field {
  border-color: #D11616;
}
.contacts__btn {
  flex: 1 1 36%;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-amethyst);
  padding: 12.5px 35px;
  background-color: transparent;
  border-color: var(--color-amethyst);
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.contacts__btn:hover {
  background-color: var(--color-amethyst);
  color: var(--white);
}
.contacts__btn:active {
  background-color: transparent;
  color: var(--white);
}
.contacts__btn:focus {
  background-color: var(--color-royal-purple);
  color: var(--white);
}
.contacts__social {
  margin-left: 70px;
}
.social__link {
  display: inline-block;
  margin-top: 6px;
  outline: none;
  transition: opacity 0.5s ease;
}
.social__link-wts {
  margin-right: 20px;
}
.social__link:hover {
  opacity: 0.5;
}
.social__link:active {
  opacity: 1;
}
.social__link:focus {
  opacity: 0.5;
}
.contacts__map {
  width: 1920px;
  height: 564px;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}

/*----------Секция Footer---------------*/
.footer {
  background-color: #000;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.footer__social-wk {
  margin-right: 20px;
 
}
.footer__social-wk path,
.footer__social-ok path{
  transition: fill .5s ease;
}
.footer__social-wk:hover path,
.footer__social-ok:hover path{
  fill: var(--white)
}
.footer__social-wk:active path,
.footer__social-ok:active path {
  fill: var(--color-biloba-flower)
}


@media (max-width:1300px) {
.header-top__logo {
    margin-right: 80px;
    cursor: pointer;
  }
.header-top__item:not(:last-child) {
  margin-right: 20px;
}
.header-bottom__input {
  display: none;
}
.header-bottom__form {
  margin-left: 20px;
}
.content-right__item:not(:last-child) {
  margin-right: 20px;
}
.contacts__wrapper {
  display: block;;
}
.contacts__titles {
  margin-right: 0px;
  margin-bottom: 30px;
}
.contacts__input {
  width: 300px;
}
.contacts__btn {
  flex: 1 1 36%;
}
.contacts__social {
  margin-left: 0px;
  margin-top: 30px;
}
}

@media (max-width:1100px) {
.header-bottom__item:not(:last-child) {
    margin-right: 40px;
  }

}

@media (max-width:1024px){

.header-top__container {
  justify-content: center;
}
.header-top__logo {
    margin-right: 0px;
    text-align: center;
  }
.search-mobile {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  
  .search-active svg {
    margin-right: 10px;
  }

  .search-button {
    padding: 0;
    outline: none;
  }

  .search-button:focus svg rect,
  .search-button:hover svg rect {
    fill: var(--color-heliotrope);
  }

  .search-button:focus svg circle,
  .search-button:hover svg circle {
    stroke: var(--color-heliotrope);
  }

  .search-button:active svg rect {
    fill: var(--color-royal-purple);
  }

  .search-button:active svg circle {
    stroke: var(--color-royal-purple);
  }

  .search-mobile__input {
    transition: border-bottom .4s ease-in-out;
  }

  .search-mobile__input:hover {
    border-bottom: 1px solid var(--color-heliotrope);
  }

  .search-mobile__input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-heliotrope);
  }

  .search__input,
  .search-mobile__input {
    display: none;
  }

  .search-mobile__input--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
    padding: 0;
    width: 220px;
  }
  
  .header__burger {
    position: absolute;
    width: 36px; 
    height: 30px;
    left: 10px;
    background-color: #000;
    outline: 3px solid transparent;
    z-index: 11;
  }
  .header__burger:focus {
    outline: 3px solid var(--color-amethyst);
    outline-offset: 8px;
  }
  .header__burger span{
    display: block;
    position: absolute;
    background-color: #fff;
    height: 3.65px;
  }
    
  .header__burger span:nth-child(1) {
    width: 100%;
    top:0;
  }
  .header__burger span:nth-child(2) {
    width: 28.2px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .header__burger span:nth-child(3) {
    width: 24px;
    bottom: 0;
  }
  .header__burger.close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    left: -4px;
    width: 38px;
  }
  .header__burger.close span:nth-child(2) {
    display: none;
  }
  .header__burger:focus span,
  .header__burger:hover span{
    background-color: var(--color-biloba-flower);
  }
  .header__burger:active span {
    background-color: var(--color-royal-purple);
  }

  .header__burger.close span:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
    left: -5px;
    width: 38px;
  }
  .header-top__nav {
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 91px 42px 50px;
    background-color: rgb(0, 0, 0, 0.85);
    z-index: 10;
    max-width: 100%;
    height: 768px;
    transition: transform .7s ease-in-out;
    transform: translateX(-333%);
  }
  .header-top__nav.is-active {
    transform: none;
  }
  .header-top__list {
    flex-direction: column;
  }
  .header-top__item:not(:last-child) {
    margin-right: 0px;
  }
  .header-top__link {
    font-size: 24px;
    line-height: 64px;
  }
  .header-top__button {
    width: 257px;
  }
  .header-top__login {
    padding: 20px 88px;
    border: 1px solid var(--white);
    border-radius: 50px;
    transition: all 0.2s ease;
  }
  .header-top__login:hover {
    border: 1px solid var(--color-amethyst);
  }
  .header-bottom {
    display: none;
  }
  .hero__content {
    width: 750px;
  }
  .content-right__list {
    flex-wrap: wrap;
  }
  .cards-item__descs {
    text-align: right;
  }
  .contacts {
    padding-bottom: 0;
  }
  .modal {
    width: 594px;
    height: 500px;
    left: 50%;
    top: 15%;
   
  }
}

@media (max-width: 992px) {
  .catalog__content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .content-right__wrapper {
    margin-bottom: 50px;
  }
  .content-left {
    margin-right: 0;
    flex: 0 0 100%;
    width: 100%;
  }
  .content-right {
    flex: 0 0 100%;
    width: 100%;
  }
  .content-left__text {
    max-width: 100%;
  }
  .contacts__form {
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
  }
  .contacts__input {
    margin: 0 10px 20px 0;
  }
  .contacts__btn {
    margin: 0 0 0 0;
    padding: 8px 30px;
    max-width: 300px;
  }
  .modal {  
    top: 11%;
  }
}
@media (max-width:768px) {
  .gallery__wrapper {
      flex-direction: column;
    }
  .gallery__select-block {
    margin-bottom: 50px;
  }
  .gallery__left {
    width: calc(700 / 1600 * 100%);
    margin-right: 0px;
    height: auto;
  }
  .choices[data-type*="select-one"] .choices__inner {
    padding: 5px 8px;
  }
  
  .gallery__right {
    width: 100%;
  }
  
}
@media (max-width: 689px) {
  .search-mobile {
    display: none;
  }
  .hero__content {
    max-width: 528px;
  }
  .hero__heading {
    font-size: 62px;
    line-height: 85px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 25px;
  }
  .modal {
    flex-direction: column;
    max-width: 290px;
    max-height: 600px;
  }
  .modal__left {
    align-items: center;
    width: 290px;
    height: 200px;
  }
  .modal__right {
    width: 100%;
    padding: 20px;
  }
  .modal__text {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width:320px) {
  .hero__content {
    max-width: 314px;
  }
  .hero__heading {
      font-size: 37px;
      line-height: 44px;
      margin-bottom: 30px;
    }
  
  .hero__text {
    font-size: 16px;
    line-height: 27px;
  }
  .section-title {
    font-size: 30px;
    line-height: 17px;
  }
  .about__text {
    font-size: 14px;
    line-height: 24px;
  }
  .about__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #more {
    display: none;
  }
  .btn-more {
    display: block;
    border: 1px solid #26A5E4;
    border-radius: 50px;
    padding: 8px 15px;
    margin: 10px auto 0;
    line-height: 14px;
    transition: border .3s ease-in, color .3s ease-in;
  }
  .btn-more:hover {
    border-color: var(--color-amethyst);
    color: var(--color-amethyst);
  }
  .btn-more:focus {
    background-color: var(--color-biloba-flower);
    color: var(--white);
  }
   
}